@{
    ViewData["Title"] = "About";
}
<!-- Header -->
<br />
<h1>About Us</h1>

<br />
<hr />
<br />

<!-- Header -->
<h3>Hello!</h3>
<div style="display: flex; align-items: center;">
    <p style="flex: 1; margin-right: 20px;">
        Welcome to BevoBnb! We are a group of students at The University of Texas at Austin,
        hoping to revolutionize the short-term rental experience. Our mission is to provide a seamless, user-friendly
        platform that connects hosts and guests, making travel more accessible, convenient, and enjoyable.
        By combining innovative technology with the power of data analytics, we aim to optimize the booking process,
        enhance guest satisfaction, and maximize hosts' revenue potential.
        Thank you for choosing BevoBnb – we look forward to making your travel experience exceptional!
    </p>
    <img src="~/images/logo1.png" alt="Image Description" style="width: 250px; height: auto;">
</div>



<br />
<hr />
<br />

<!-- Meet the Team -->
<h3 class="text-center">Meet the Team</h3>

<div class="row justify-content-center">
    <div class="col-md-3 text-center">
        <img class="w-100 h-auto rounded" src="~/images/reeba_headshot.jpg" alt="Reeba's Headshot" title="Reeba's Headshot" />
        <h4>Reeba Abraham</h4>
        <p>Junior MIS Major</p>
    </div>

    <div class="col-md-3 text-center">
        <img class="w-100 h-auto rounded" src="~/images/Tanya_headshot.jpg" alt="Tanya's Headshot" title="Tanya's Headshot" />
        <h4>Tanya Kalidindi</h4>
        <p>Junior MIS Major</p>
    </div>

    <div class="col-md-3 text-center">
        <img class="w-100 h-auto rounded" src="~/images/shantanu_headshot.jpg" alt="Shantanu's Headshot" title="Shantanu's Headshot" />
        <h4>Shantanu Bhattacharya</h4>
        <p>Junior BAX Major</p>
    </div>

    <div class="col-md-3 text-center">
        <img class="w-100 h-auto rounded" src="~/images/anusha_headshot.jpg" alt="Anusha's Headshot" title="Anusha's Headshot" />
        <h4>Anusha Mittal</h4>
        <p>Senior MIS + Econ Major</p>
    </div>
</div>


<br />