<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>

<a asp-action="SeedOneUser" asp-controller="Seed" class="btn btn-info">Seed One User</a>


@*<a asp-action="SeedOneCategory" asp-controller="Seed" class="btn btn-info">Seed One Category</a>*@

<a asp-action="SeedAllCategories" asp-controller="Seed" class="btn btn-info">Seed All Categories</a>

<a asp-action="SeedOneProperty" asp-controller="Seed" class="btn btn-info">Seed One Property</a>

<a asp-action="SeedAllUnavailabilities" asp-controller="Seed" class="btn btn-info">Seed All Unavailabilites</a>

<a asp-action="SeedAllCustomers" asp-controller="Seed" class="btn btn-info">Seed All Customers</a>

<a asp-action="SeedAllAdmins" asp-controller="Seed" class="btn btn-warning">Seed All Admins</a>

<a asp-action="SeedAllHosts" asp-controller="Seed" class="btn btn-warning">Seed All Hosts</a>

<a asp-action="SeedAllProperties" asp-controller="Seed" class="btn btn-warning">Seed All Properties</a>

<a asp-action="SeedOneReview" asp-controller="Seed" class="btn btn-warning">Seed One Review</a>

<a asp-action="SeedAllReviews" asp-controller="Seed" class="btn btn-warning">Seed All Reviews</a>

<a asp-action="SeedOneReservation" asp-controller="Seed" class="btn btn-warning">Seed One Reservation</a>

<a asp-action="SeedAllReservations" asp-controller="Seed" class="btn btn-warning">Seed All Reservations</a>
